*.exe
*.log
*.o
*.reso
*.dll
*.a
/hbfbird5/lib/win/mingw/.hbmk
/hbfbird5/.hbmk
/hbfbird5/lib/win/mingw64/.hbmk
/sddfb5/lib/win/mingw64/.hbmk
/sddfb5/lib/win/mingw/.hbmk
/dbu32/.hbmk
/dbu64/.hbmk
dbu32/firebird.msg
dbu32/intl/fbintl.conf
dbu32/icudt63l.dat
dbu64/firebird.msg
dbu64/intl/fbintl.conf
